.title{
  font-family: cursive;
  font-size: 34px;
  text-align: center;
  padding-top: 25px;
}
.text-box-all{
  font-family:cursive;
  font-size: 24px;
  height: 100%;
  text-align: center;
}
.text-box-location{
  padding-bottom: 400px;
}
.text-box{
  width: 700px;
  margin-left: 25px;
  border-radius: 6px;
}
.submit-btn{
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border-color: black;
}
.line{
  margin-top: 30px;
  border-color: black;
}
.table-box{
  margin-top: 20px;
  margin-bottom: 100px;
}
li{
  text-align: left;
}